/* * { */
    /* box-sizing: border-box; */
/* } */

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px;
}

.hero-container {
    height: 100vh;
    background-image: url("./IMG/photo1.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.hero-container div {
    text-align: center;
    padding-top: 200px;
    padding-left: 100px;
}

.hero-container h1 {
    line-height: 1.875;
    font-weight: 900;
    font-stretch: normal;
    letter-spacing: normal;
    text-transform: capitalize;
}

.hero-container p {
    line-height: 1.875;
    font-weight: 900;
    font-stretch: normal;
    letter-spacing: normal;
    text-transform: capitalize;
}

.button {
    background-color: #e0a84c;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    margin: 30px 0px 0px;
    padding: 15px 40px;
}

/* .main-section {
    padding: 10px 60px 10px 60px;
} */

.elope-container {
    padding: 50px;
    background-color: #917a2c;
}

.elope-container h2 {
    padding-left: 100px;
    padding-bottom: 20px;
}

ol.firstList li {
    position: relative;
    font-size: 1.375rem;
    margin-bottom: 30px;
    padding-left: 5px;
}

.how-to-container {
    padding: 50px;
    background-color: #917a2c;
}

.molly-one, .molly-two, .molly-three {
    padding: 10px;
}

ol.secondList li {
    position: relative;
    font-size: 1.375rem;
    margin-bottom: 30px;
    padding-left: 5px;
}

.about-container {
    padding: 50px;
    background-color: #195411;
}

.aboutText {
    font-size: 1.375rem;
    margin-bottom: 30px;
    padding-left: 5px;
}



